/* GRAPHITE THEME */
@CHARSET "UTF-8";

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('../fonts/opensans.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url('../fonts/opensans-light.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url('../fonts/opensans-semibold.woff') format('woff');
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: local('Titillium Web'), local('TitilliumWeb-Regular'), url('../fonts/titilliumweb-regular.woff') format('woff');
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 600;
  src: local('Titillium WebSemiBold'), local('TitilliumWeb-SemiBold'), url('../fonts/titilliumweb-semibold.woff') format('woff');
}

html, body {
    color:#333;
    font-size:0.90em;
    margin:0px auto;
    padding-top:0px;
    height:100%;
}

a {
    outline: 0;
    color:#205C90;
    text-decoration:none;
}

a:hover {
    color:#2b7bc1;
}

/* Fonts */
html, body {
    font-family:"Open Sans", Helvetica, Arial, sans-serif;
}
#breadcrumbs,

div.nav-container ul,
#content h1,
#content h2,
input.context_action_link,
input[type="submit"],
#edit-bar ul#content-views li a,
#content li.formTab a,
#content-core li.formTab,
#edit-bar div.contentActions {
    /*font-family:'Titillium Web','Open Sans', sans-serif, Helvetica, Arial;*/
}

#content h1,
#content h2 {
    font-weight: 300;
}

body.userrole-anonymous #content-wrapper .column-left {
    display:none;
    margin:0;
}

/* Portal global nav */
#portal-globalnav {
    float: left;
    margin: 0;
    padding: 0;
    font-size: 1.1em;
    margin-top: 5px;
    text-align: left;
}
#portal-globalnav li a:hover {
    opacity:0.8;
    moz-opacity:0.8;
    filter:alpha(opacity=80);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    -ms-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
}
#portal-globalnav li.selected a,
#portal-globalnav li a:hover {
    background-color: #333;
    box-shadow: 0px 1px 10px #666;
}
#portal-globalnav li a {
    color: #fff;
    padding: 16px 20px;
    background-color: #333;
}
#portal-globalnav li {
    list-style-type: none;
    display: inline;
    margin: 0;
    padding: 0;
    padding: 15px 1px;
}

/* portal-tools-wrapper */
#portal-tools-wrapper {
    position: fixed;
    right: 20px;
    left: 218px;
    top: 8px;
    z-index: 2100;
}

/* portal-searchbox */
#portal-searchbox {
    font-size: 0.9em;
    float: right;
}
#portal-searchbox div.searchSection {
    border: 1px solid red;
    float: left;
    display: none;
}
#portal-searchbox input[type="submit"] {
    margin-left: 5px;
    color: #fff;
    background-color: transparent;
    font-size: 1.3em;
    font-family: 'Open Sans';
    border: none;
}
#portal-searchbox input[type="text"] {
    border: 1px solid #cdcdcd;
    box-shadow: 0 0 2px 1px #333;
    padding: 3px;
    background-color: #ddd;
    border-radius: 3px;
}
.LSBox {
    text-align: right;
}
#LSResult {
    background-color: #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 1px 5px #999;
    margin-right: 20px;
    padding: 20px;
    text-align: left;
    font-size: 1.1em;
    width: 400px;
    display:none;
}
#LSResult #livesearchLegend {
    font-weight: 600;
    font-size: 1.1em;
}
#LSResult li {
    margin: 0;
    padding: 0 0 5px 0;
    line-height: 130%;
}
#LSResult ul {
    padding: 0 0 0 20px;
}

/* portal personal tools */
#portal-personaltools-wrapper {
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    float: right;
}
#portal-personaltools {
    margin: 0;
}
#portal-personaltools.deactivated dd {
    display: none;
}
#portal-personaltools .actionMenuHeader,
#portal-personaltools li#anon-personalbar  {
    float: none;
    margin: 0;
    padding: 0;
    text-align: right;
    padding: 1px 0;
}
#portal-personaltools .actionMenuContent {
    background-color: #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 1px 5px #999;
    font-size: 1.1em;
    padding: 20px;
    text-align: left;
}
#portal-personaltools .actionMenuHeader a,
#portal-personaltools li#anon-personalbar a {
    color: #FFFFFF;
    font-size: 0.8em;
    text-transform: capitalize;
}
#portal-personaltools .actionMenuHeader a:hover,
#portal-personaltools li#anon-personalbar a:hover {
        opacity:0.7;
    moz-opacity:0.7;
    filter:alpha(opacity=70);
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    -webkit-transition: opacity 250ms ease-in-out;
    -moz-transition: opacity 250ms ease-in-out;
    -o-transition: opacity 250ms ease-in-out;
    -ms-transition: opacity 250ms ease-in-out;
    transition: opacity 250ms ease-in-out;
}

li#anon-personalbar {
    font-size: 1.35em;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/** Portlets **/
#dashboard div#dashboard-portlets1,
#dashboard div#dashboard-portlets2,
#dashboard div#dashboard-portlets3,
#dashboard div#dashboard-portlets4 {
    float: left;
    width: 23%;
    padding: 0 20px 0 0;
}
dl.portlet dt.portletHeader {
    font-size: 1.6em;
    margin-bottom: 15px;
}
dl.portlet {
    background-color: #efefef;
    padding: 15px 20px;
}
dl.portlet dd {
    margin: 0;
    padding: 0 0 5px 0;
}

/** Overlay login **/
.overlay-login {
    background-color: #fff;
    box-shadow: 1px 1px 5px #999;
    padding: 50px;
    font-size: 1.1em;
    font-weight: normal;
    margin-top: 80px;
    line-height:180%;
}
.overlay-login #login-form .field label {
    margin-right: 20px;
}


fieldset {
    border:none;
    margin:0;
    padding:0;
}
input.filter-search-input,
select {
    border: 1px solid #CCCCCC;
    margin: 0 7px 0 0;
    padding: 3px;
    background-color:#fff;
}

textarea:focus,
select:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input.filter-search-input:focus {
    -webkit-box-shadow: 0 0 2px 1px #0B486B;
    -moz-box-shadow: 0 0 2px 1px #0B486B;
    box-shadow: 0 0 2px 1px #0B486B;
}

.hiddenStructure {
    display: none;
    visibility: hidden;
}

.filter-search-button {
    font-size: 17px;
}

div.alert {
    font-size: 1.1em;
    padding: 20px;
    background-color:#CFF09E;
    margin: 15px 0;
}

div.alert:before {
    font-family: "Ionicons";
    content: "\f100  ";
}

#wrap {
    margin: 0 auto 0 auto;
    width:100%;
    height:100%;
}
div.constraint {
    /*margin:0 auto;
    width: 940px;*/
    padding:0;
    height:100%;
}
#content-wrapper {
    margin-top: 50px;
    margin-bottom: 100px;
}
#content-wrapper div.column-left,
#content-wrapper div.column-center,
#content-wrapper div.column-right {
    float:left;
}
#content-wrapper div.column-left {
    width:180px;
    background-color:#efefef;
    height:100%;
    margin-top: 10px;
}
#content-wrapper div.column-center {
    margin-left: 40px;
}
#content-wrapper:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
#logo {
    background-color: #454545;
    border-bottom: 1px solid #CCCCCC;
    box-shadow: 0 0 10px 2px #999999;
    left: 0;
    top: 0;
    padding: 10px;
    position: fixed;
    right: 0;
    z-index: 2000;
}
a#portal-logo {
    background-color: #EFEFEF;
    margin: -10px 0 0 -10px;
    padding: 21px 109px 10px 10px;
}
.backgrey {
    background-color:#f5f5f5;
}



/* Nav menu */
div.nav-container ul {
    margin: 0;
    padding: 0;
}
div.nav-container ul.navtree li {
    font-size: 1.2em;
    font-weight: 300;
    list-style-type: none;
    margin: 0;
    padding: 10px 20px 10px 10px;
}
div.nav-container ul.navtree li a {
    color:#333;
}
div.nav-container ul.navtree li.active a,
div.nav-container ul.navtree li a:hover {
    background-color:#0B486B;
    color:#fff;
    margin:-10px -20px -10px -10px;
    padding:10px 20px 10px 10px;
    -webkit-transition: background 250ms ease-in;
    -moz-transition: background 250ms ease-in;
    -o-transition: background 250ms ease-in;
    -ms-transition: background 250ms ease-in;
    transition: background 250ms ease-in;
}
div.nav-container ul.navtree li ul {
    /*border-top:1px solid #999;*/
    margin:5px 0 10px -15px;
    display:none;
    padding-top:5px;
}
div.nav-container ul.navtree li.nav-quick ul {
    display:block;
}
div.nav-container ul.navtree li ul li {
    /*background-color: #79BD9A;*/
    font-weight: 400;
    font-size: 0.8em;
    padding: 4px 0 4px 20px;
}
div.nav-container ul.navtree li a {
    text-decoration:none;
    display:block;
}
div.nav-container ul.navtree li ul li a {
    color:#666;
}
div.nav-container ul.navtree ul li.active a,
div.nav-container ul.navtree li ul li a:hover {
    /*background-color:#3B8686;
    color:#fff;
    margin:-4px 0px -4px -15px;
    padding: 4px 0 4px 15px;*/
    color:#333;
    background: url('../images/arrow-right.png') no-repeat right center transparent;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none;
}
div.nav-container ul.navtree ul li a img {
    margin-left: -5px;
    padding-right: 4px;
    vertical-align: top;
}

div.nav-container ul.navtree li ul li:last-child {
    margin-bottom: -20px;
    padding-bottom: 10px;
}
div.nav-container ul.navtree li ul li.arimports img {
    background:url('../images/arimport.png') no-repeat left center transparent;
    padding-left:16px;
    height:16px;
}



div.show-column-left {
    height: 100%;
    margin-left: 159px;
    padding-top: 50px;
    padding-left:20px;
    position: absolute;
    display:none;
}

a.hide-column-left {
    color: rgba(0, 0, 0, 0);
    display: block;
    font-size: 0.9em;
    margin: 0 0 0 7px;
    opacity: 0.5;
    moz-opacity:0.5;
    filter:alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    padding: 7px 7px 7px 5px;
    text-align: left;
    text-decoration: none;
    vertical-align: top;
}
a.hide-column-left:before {
    color: #333333;
    content: "";
    font-family: Ionicons;
    font-size: 1.7em;
    font-weight: bold;
    padding-right: 5px;
}
a.hide-column-left:hover {
    opacity:1;
    moz-opacity:1;
    filter:alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    -webkit-transition: opacity 250ms ease-in-out;
    -moz-transition: opacity 250ms ease-in-out;
    -o-transition: opacity 250ms ease-in-out;
    -ms-transition: opacity 250ms ease-in-out;
    transition: opacity 250ms ease-in-out;
    color: #888;
}

div.show-column-left a {
    opacity: 0.5;
    moz-opacity:0.5;
    filter:alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    background: url("../images/nav-toggle-ico.png") no-repeat scroll 10px center #DCDCDC;
    border-radius: 0 0 5px 5px;
    color: #333333;
    display: block;
    margin-left: -28px;
    padding: 4px 15px 4px 34px;
    text-decoration: none;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform:rotate(-90deg);
    -o-transform:rotate(-90deg);
    -ms-transform:rotate(-90deg);
}
div.show-column-left a:hover {
    opacity:1;
    moz-opacity:1;
    filter:alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    -webkit-transition: opacity 250ms ease-in-out;
    -moz-transition: opacity 250ms ease-in-out;
    -o-transition: opacity 250ms ease-in-out;
    -ms-transition: opacity 250ms ease-in-out;
    transition: opacity 250ms ease-in-out;
}
#breadcrumbs {
    background-color: #FFFFFF;
    border-bottom: 1px solid #DCDCDC;
    color: #333333;
    font-size: 0.9em;
    padding: 15px 0 8px;
}
#breadcrumbs-current {
    font-size: 1.2em;
    font-weight: bold;
}

#content h1 img {
    margin-right: 15px;
    vertical-align: middle;
}

#content h2 {
    font-size: 1.6em;
    margin-left: 47px;
    margin-top: -15px;
}

.bika-listing-table-container {
    overflow: auto;
}

table.bika-listing-table {
    width: 100%;
    border-spacing: 0;
    border-collapse: separate;
    font-size:0.9em;
}

table.bika-listing-table thead tr th {
    background-color: #DCDCDC;
    padding: 5px;
    text-align: left;
}
table.bika-listing-table .item-listing-tbody td {
    padding: 2px 5px 2px 5px;
}
table.bika-listing-table .item-listing-tbody td .graphite-late {
    color: #CC333F;
    font-size: 1.4em;
}
#content .bika-listing-table tbody tr th.cat_header.expanded {
}
#content .bika-listing-table tbody tr th.cat_header.expanded:before {
    content: "\f151";
    font-family: "Ionicons";
    padding-right: 5px;
}
#content .bika-listing-table tbody tr th.cat_header.collapsed:before {
    content: "\f154";
    font-family: "Ionicons";
    padding-right: 5px;
}
#content .bika-listing-table tbody tr .cat_header {
    padding: 5px;
    background-color: #efefef;
    border-top: 1px solid #dfdfdf;
    cursor: pointer;
}
/* States
 * The order is important! */
td.first-col {
    border-left:0px solid transparent;
    /*border-radius:7px 0 0 7px;*/
    border-radius: 3px 0 3px 0;
    border-bottom: 1px solid #fff;
    /*opacity: 0.7;
    moz-opacity:0.7;
    filter:alpha(opacity=70);
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;*/
    color:#000;
}
td.first-col a,
td.first-col a:hover {
    color:#000;
}
td.first-col.state-assigned {
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0, #dcdcdc),
        color-stop(1, #FFFFFF)
    );
    background-image: -o-linear-gradient(right, #dcdcdc 0%, #FFFFFF 100%);
    background-image: -moz-linear-gradient(right, #dcdcdc 0%, #FFFFFF 100%);
    background-image: -webkit-linear-gradient(right, #dcdcdc 0%, #FFFFFF 100%);
    background-image: -ms-linear-gradient(right, #dcdcdc 0%, #FFFFFF 100%);
    background-image: linear-gradient(to right, #dcdcdc 0%, #FFFFFF 100%);
    /*border-color: #ff9d00;/*#FFF2DD;*/
}
td.first-col.state-unassigned {
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0, #FA6900),
        color-stop(1, #FFFFFF)
    );
    background-image: -o-linear-gradient(right, #FA6900 0%, #FFFFFF 100%);
    background-image: -moz-linear-gradient(right, #FA6900 0%, #FFFFFF 100%);
    background-image: -webkit-linear-gradient(right, #FA6900 0%, #FFFFFF 100%);
    background-image: -ms-linear-gradient(right, #FA6900 0%, #FFFFFF 100%);
    background-image: linear-gradient(to right, #FA6900 0%, #FFFFFF 100%);
    /*border-color: #ff9d00;/*#FFF2DD;*/
}
td.first-col.state-submitted,
td.first-col.state-sample_due {
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0, #F38630),
        color-stop(1, #FFFFFF)
    );
    background-image: -o-linear-gradient(right, #F38630 0%, #FFFFFF 100%);
    background-image: -moz-linear-gradient(right, #F38630 0%,  #FFFFFF 100%);
    background-image: -webkit-linear-gradient(right, #F38630 0%,  #FFFFFF 100%);
    background-image: -ms-linear-gradient(right, #F38630 0%, #FFFFFF 100%);
    background-image: linear-gradient(to right, #F38630 0%, #FFFFFF 100%);
    /*border-color: #fff600;/*#FFFCA7;*/
}
td.first-col.state-active,
td.first-col.state-open {
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0, #E0E4CC),
        color-stop(1, #FFFFFF)
    );
    background-image: -o-linear-gradient(right, #E0E4CC 0%, #FFFFFF 100%);
    background-image: -moz-linear-gradient(right, #E0E4CC 0%, #FFFFFF 100%);
    background-image: -webkit-linear-gradient(right, #E0E4CC 0%, #FFFFFF 100%);
    background-image: -ms-linear-gradient(right, #E0E4CC 0%, #FFFFFF 100%);
    background-image: linear-gradient(to right, #E0E4CC 0%, #FFFFFF 100%);
    /*border-color: #ffffff;/*#FFF2DD;*/
}
td.first-col.state-sample_received {
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0, #E0E4CC),
        color-stop(1, #FFFFFF)
    );
    background-image: -o-linear-gradient(right, #E0E4CC 0%, #FFFFFF 100%);
    background-image: -moz-linear-gradient(right, #E0E4CC 0%, #FFFFFF 100%);
    background-image: -webkit-linear-gradient(right, #E0E4CC 0%, #FFFFFF 100%);
    background-image: -ms-linear-gradient(right, #E0E4CC 0%, #FFFFFF 100%);
    background-image: linear-gradient(to right, #E0E4CC 0%, #FFFFFF 100%);
    /*border-color: #ffffff;/*#FFF2DD;*/
}
td.first-col.state-mine {
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0, #C8C8A9),
        color-stop(1, #FFFFFF)
    );
    background-image: -o-linear-gradient(right, #C8C8A9 0%, #FFFFFF 100%);
    background-image: -moz-linear-gradient(right, #C8C8A9 0%, #FFFFFF 100%);
    background-image: -webkit-linear-gradient(right, #C8C8A9 0%, #FFFFFF 100%);
    background-image: -ms-linear-gradient(right, #C8C8A9 0%, #FFFFFF 100%);
    background-image: linear-gradient(to right, #C8C8A9 0%, #FFFFFF 100%);
    /*border-color: #ffffff;/*#FFF2DD;*/
}
td.first-col.state-to_be_verified {
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0, #A7DBD8),
        color-stop(1, #FFFFFF)
    );
    background-image: -o-linear-gradient(right, #A7DBD8 0%, #FFFFFF 100%);
    background-image: -moz-linear-gradient(right, #A7DBD8 0%, #FFFFFF 100%);
    background-image: -webkit-linear-gradient(right, #A7DBD8 0%, #FFFFFF 100%);
    background-image: -ms-linear-gradient(right, #A7DBD8 0%, #FFFFFF 100%);
    background-image: linear-gradient(to right, #A7DBD8 0%, #FFFFFF 100%);
    /*border-color: #0058fc;/*#D4E2FC;*/
}
td.first-col.state-verified {
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0, #69D2E7),
        color-stop(1, #FFFFFF)
    );
    background-image: -o-linear-gradient(right, #69D2E7 0%, #FFFFFF 100%);
    background-image: -moz-linear-gradient(right, #69D2E7 0%, #FFFFFF 100%);
    background-image: -webkit-linear-gradient(right, #69D2E7 0%, #FFFFFF 100%);
    background-image: -ms-linear-gradient(right, #69D2E7 0%, #FFFFFF 100%);
    background-image: linear-gradient(to right, #69D2E7 0%, #FFFFFF 100%);
    /*border-color: #00baff;/*#E5F8FF;*/
}
td.first-col.state-imported,
td.first-col.state-published {
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0, #83AF9B),
        color-stop(1, #FFFFFF)
    );
    background-image: -o-linear-gradient(right, #83AF9B 0%, #FFFFFF 100%);
    background-image: -moz-linear-gradient(right, #83AF9B 0%, #FFFFFF 100%);
    background-image: -webkit-linear-gradient(right, #83AF9B 0%, #FFFFFF 100%);
    background-image: -ms-linear-gradient(right, #83AF9B 0%, #FFFFFF 100%);
    background-image: linear-gradient(to right, #83AF9B 0%, #FFFFFF 100%);
    /*border-color: #1efc00;/*#E6FCE3;*/
}
td.first-col.state-cancelled,
td.first-col.state-inactive {
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0, #FF6B6B),
        color-stop(1, #FFFFFF)
    );
    background-image: -o-linear-gradient(right, #FF6B6B 0%, #FFFFFF 100%);
    background-image: -moz-linear-gradient(right, #FF6B6B 0%, #FFFFFF 100%);
    background-image: -webkit-linear-gradient(right, #FF6B6B 0%, #FFFFFF 100%);
    background-image: -ms-linear-gradient(right, #FF6B6B 0%, #FFFFFF 100%);
    background-image: linear-gradient(to right, #FF6B6B 0%, #FFFFFF 100%);
   /* border-color: #8e8e8e;/*#E5E5E5;*/
}
td.first-col.state-closed {
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0, #aaaaaa),
        color-stop(1, #FFFFFF)
    );
    background-image: -o-linear-gradient(right, #aaaaaa 0%, #FFFFFF 100%);
    background-image: -moz-linear-gradient(right, #aaaaaa 0%, #FFFFFF 100%);
    background-image: -webkit-linear-gradient(right, #aaaaaa 0%, #FFFFFF 100%);
    background-image: -ms-linear-gradient(right, #aaaaaa 0%, #FFFFFF 100%);
    background-image: linear-gradient(to right, #aaaaaa 0%, #FFFFFF 100%);
   /* border-color: #8e8e8e;/*#E5E5E5;*/
}
td.first-col.state-invalid {
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0, #C44D58),
        color-stop(1, #FFFFFF)
    );
    background-image: -o-linear-gradient(right, #C44D58 0%, #FFFFFF 100%);
    background-image: -moz-linear-gradient(right, #C44D58 0%, #FFFFFF 100%);
    background-image: -webkit-linear-gradient(right, #C44D58 0%, #FFFFFF 100%);
    background-image: -ms-linear-gradient(right, #C44D58 0%, #FFFFFF 100%);
    background-image: linear-gradient(to right, #C44D58 0%, #FFFFFF 100%);
   /* border-color: #8e8e8e;/*#E5E5E5;*/
}
td.state-cancelled,
td.state-inactive,
td.state-invalid,
td.state-cancelled a,
td.state-inactive a,
td.state-invalid a,
td.state-cancelled a:hover,
td.state-inactive a:hover,
td.state-invalid a:hover {
    text-decoration:none;
    color:#8E8E8E;
}


#content .bika-listing-table td.review_state_selector {
    padding-bottom: 8px;
}
#content .bika-listing-table thead tr td.listing-filter-row a {
    background-color: #efefef;
    padding: 8px 10px 5px 10px;
    color: #333;
    border-radius:0 0 2px 2px;
}
#content .bika-listing-table thead tr td.listing-filter-row a#default,
#content .bika-listing-table thead tr td.listing-filter-row a#all {
    border-bottom: 3px solid #dcdcdc;
}
#content .bika-listing-table thead tr td.listing-filter-row a#submitted,
#content .bika-listing-table thead tr td.listing-filter-row a#sample_due {
    border-bottom: 3px solid #F38630;
}
#content .bika-listing-table thead tr td.listing-filter-row a#active,
#content .bika-listing-table thead tr td.listing-filter-row a#open {
    border-bottom: 3px solid #E0E4CC;
}
#content .bika-listing-table thead tr td.listing-filter-row a#sample_received {
    border-bottom: 3px solid #E0E4CC;
}
#content .bika-listing-table thead tr td.listing-filter-row a#mine {
    border-bottom: 3px solid #C8C8A9;
}
#content .bika-listing-table thead tr td.listing-filter-row a#to_be_verified {
    border-bottom: 3px solid #A7DBD8;
}
#content .bika-listing-table thead tr td.listing-filter-row a#verified {
    border-bottom: 3px solid #69D2E7;
}
#content .bika-listing-table thead tr td.listing-filter-row a#imported,
#content .bika-listing-table thead tr td.listing-filter-row a#published {
    border-bottom: 3px solid #83AF9B;
}
#content .bika-listing-table thead tr td.listing-filter-row a#cancelled,
#content .bika-listing-table thead tr td.listing-filter-row a#inactive {
    border-bottom: 3px solid #FF6B6B;
}
#content .bika-listing-table thead tr td.listing-filter-row a#closed {
    border-bottom: 3px solid #aaaaaa;
}
#content .bika-listing-table thead tr td.listing-filter-row a#invalid {
    border-bottom: 3px solid #C44D58;
}
#content .bika-listing-table thead tr td.listing-filter-row a#assigned {
    border-bottom: 3px solid #dcdcdc;
}
#content .bika-listing-table thead tr td.listing-filter-row a#unassigned {
    border-bottom: 3px solid #dcdcdc;
}
#content .bika-listing-table thead tr td.listing-filter-row a:hover {
    /*background-color: #3B8686;
    color: #fff;
    border-right: 1px solid #3B8686;*/
    opacity: 0.6;
    moz-opacity:0.6;
    filter:alpha(opacity=60);
    -moz-opacity: 0.6;
    -khtml-opacity: 0.6;
    transition: all 250ms ease-in;
    -webkit-transition: all 250ms ease-in;
    -moz-transition: all 250ms ease-in;
    -o-transition: all 250ms ease-in;
    -ms-transition: all 250ms ease-in;
}
#content .bika-listing-table thead tr td.listing-filter-row a.selected {
    background-color: #DCDCDC;
    color: #000;
}
#content .bika-listing-table tbody.item-listing-tbody tr:hover {
    background-color:#efefef;
}
#content .bika-listing-table tfoot td.workflow_actions {
    position:absolute;
    display:none;
}
#content .bika-listing-table tfoot td.workflow_actions div.selection-summary {
    color: #0B486B;
    font-size: 1.1em;
    font-weight: bold;
    line-height: 160%;
    padding-left: 12px;
}
#content .bika-listing-table tfoot table {
    margin: 20px 0 0;
    padding: 10px;
}
#content .bika-listing-table tfoot table {
    background-color:#dcdcdc;
    padding: 10px 20px 10px 10px;
}
#content .bika-listing-table tfoot td.batching span.pagesize_selector {
    float: left;
    margin-top: -20px;
    text-align: right;
}

#content .bika-listing-table tfoot td.batching a, .batching.span {
    margin-left: 8px;
    font-size: 1.1em;
    font-weight: bold;
}

input.context_action_link,
input[type="submit"] {
    background-color: #fff;
    border: medium none;
    /*box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    /*color: #FFFFFF;*/
    cursor: pointer;
    display: inline-block;
    font-size: 0.9em;
    line-height: 1;
    margin-right: 10px;
    padding: 3px 10px 4px;
    position: relative;
    text-decoration: none;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
    color:#000;
}

input.context_action_link:hover,
a.button:hover,
input[type="submit"]:hover {
    opacity:0.7;
    moz-opacity:0.7;
    filter:alpha(opacity=70);
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    -webkit-transition: opacity 250ms ease-in-out;
    -moz-transition: opacity 250ms ease-in-out;
    -o-transition: opacity 250ms ease-in-out;
    -ms-transition: opacity 250ms ease-in-out;
    transition: opacity 250ms ease-in-out;
}
input.action_button {
    font-size: 1em;
    margin-right: 5px;
}
input.action_button:hover {
   /* background-color: #DCDCDC !important;
    border: 1px solid #000000;
    color: #333333;*/
    transition: all 0.25s ease-out 0s;
    -webkit-transition: all 0.25s ease-out 0s;
    -moz-transition: all 0.25s ease-out 0s;
    -o-transition: all 0.25s ease-out 0s;
    -ms-transition: all 0.25s ease-out 0s;
}
#content .bika-listing-table thead tr td.listing-filter-row {
    padding: 4px 10px 4px 0;
}
#content .bika-listing-table thead tr td.listing-filter-row a:first-child {
}

#content .bika-listing-table tfoot tr td.workflow_actions {
    background-color: #FFFFFF;
    border: 1px solid #AFAFAF;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 2px 10px #dcdcdc;
    display: table-cell;
    left: 249px;
    padding: 5px;
    top: 590px;
}


#loading-pane {
    font-size:50px;
    color:#0B486B;
    background-color:#fff;
    opacity:0.7;
    moz-opacity:0.7;
    filter:alpha(opacity=70);
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
}
#loading-pane .loading-text {
    font-size:40px;
    line-height:50px;
    font-weight:300;
}
#loading-pane img {
    display:none;
    visibility:hidden;
}
div.error-page {
    padding:30px;
}
.bika-listing-table tfoot {
}
.bika-listing-table tfoot table tr td {
    padding:10px;
}
.bika-listing-table tfoot tr td table td {
    padding:0;
}
#footer {
    text-align: center;
    line-height: 8px;
    font-size:0.8em;
    width:100%;
    position: fixed;
    bottom:0;
    background-color:#efefef;
    padding-bottom:10px;
}
#footer br {
    display:none;
}
#footer ul li {
    list-style-type:none;
    display:inline;
}
#footer #portal-siteactions {
    display:none;
}
div.themedby {
    color:#333;
    padding-bottom:5px;
}
a.logo-naralabs{
    background:url('../images/logo-naralabs.png') left top no-repeat;
    width: 70px;
    height:18px;
    padding-left:70px;
    margin-left:5px;
    padding-bottom:5px;
}
a.logo-naralabs span {
    overflow: hidden;
    visibility:hidden;
    display:none;
}

.filter-search-button {
    display: inline-block;
    font-family: "Ionicons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.filter-search-button:before { content: "\f1d9"; }

div.nav-section-title {
    /*background-color: #0B486B;*/
    background-color:#dfdfdf;
    margin: -10px -20px -5px -10px;
    padding: 10px 20px 10px 10px;
}
li.child-active div.nav-section-title {
    background-color: #0B486B;
    color: #FFFFFF;
}

a.context_action_link,
a.ws-analyses-search-button,
input.context_action_link,
input.applytemplate {
    /*background-color: #3B8686;
    padding: 3px 15px 4px 15px;
    color: #fff;
    vertical-align: middle;*/
    background-color: #EFEFEF;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    color: #333333;
    padding: 3px 15px 4px;
    vertical-align: middle;
}

h1 a.context_action_link {
    font-size: 0.5em;
    margin-left: 20px;
}
h2 a.context_action_link {
    font-size: 0.65em;
    margin-left: 20px;
}
h1 a.context_action_link:hover,
h2 a.context_action_link:hover,
input.context_action_link:hover,
a.ws-analyses-search-button:hover,
input.applytemplate:hover {
    background-color: #EAEAEA;
    border: 1px solid #DDDDDD;
    transition: background 250ms ease-in 0s;
    transition: background 250ms ease-in;
    -webkit-transition: background 250ms ease-in;
    -moz-transition: background 250ms ease-in;
    -o-transition: background 250ms ease-in;
    -ms-transition: background 250ms ease-in;
}

.tooltip {
    cursor:pointer;
}

#tooltip-box {
    background: none repeat scroll 0 0 #4E4E4E;
    font-size: 12px;
    padding: 5px 10px;
    position: absolute;
    z-index: 10;
    border-radius: 5px;
    color: #ffffff;
}

#edit-bar {
    margin-bottom: 10px;
}

#edit-bar ul#content-views {
    margin: 0;
    padding: 0;
    margin-top: 15px;
}

#edit-bar ul#content-views li a:hover,
#content li.formTab a:hover,
#content-core li.formTab a:hover {
    border-radius: 5px 5px 5px 5px;
    background-color: #EBEBEB;
    box-shadow: 1px 1px 1px #CECECE inset;
    color: #555555;
    text-shadow: 1px 1px 1px #ffffff;
}
#edit-bar ul#content-views li.selected a,
#content li.formTab a.selected,
#content-core li.formTab a.selected,
#edit-bar ul#content-views li a.selected:hover,
#content li.formTab a.selected:hover,
#content-core li.formTab a.selected:hover {
    background-color: #E4E4E4;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 1px 1px #ADADAD inset;
    color: #333333;
    text-shadow: 1px 1px 1px #EFEFEF;
}
#edit-bar ul#content-views li a,
#content li.formTab a,
#content-core li.formTab  {
    padding: 5px 8px;
}
#edit-bar ul#content-views li {
    list-style-type: none;
    display: inline;
    margin: 0;
    padding: 0;
    margin-right: 2px;
}
#edit-bar div.contentActions {
    margin-top: 20px;
}/*
dl.actionMenu.deactivated dd {
    display: none;
}*/
#edit-bar ul#contentActionMenus {
    margin: 0;
    padding: 0;
}
#edit-bar ul#contentActionMenus li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
}
#plone-contentmenu-display {
    display: none;
}
#plone-contentmenu-actions {
    display: none;
}

dd.actionMenuContent ul {
    margin: 0;
    padding: 0;
}
dt.actionMenuHeader a span {
    margin-right: 10px;
    font-weight: 300;
}
dt.actionMenuHeader a,dt.actionMenuHeader:hover {
    color: #222;
    font-weight: 400;
}
dt.actionMenuHeader {
    font-size: 1.4em;
    color: #333;
    margin-bottom: 10px;
    float:left;
}
dt.actionMenuHeader span.arrowDownAlternative {
    display: none;
}
dd.actionMenuContent a {
    margin-right: 10px;
    background-color: #fff;
}
dd.actionMenuContent {
    float: left;
    margin: 0;
    margin-left: 15px;
    padding-top: 5px;
}

#edit-bar div.contentActions:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

div.documentActions h1 a, div.documentActions h1 a:hover {
    color: #333;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
}
div.documentActions h1 {
    margin: 0;
    padding: 0;
}
#viewlet-above-content-title {
    float:right;
}

.collapsible {
    margin:0;
    padding:0;
}
.collapsible .collapsibleHeader {
    cursor: pointer;
    font-size: 1.1em;
    color: #205C90;
}
.collapsible .collapsibleHeader img {
    padding-right: 8px;
}
.collapsedOnLoad .collapsibleContent,
.collapsedBlockCollapsible .collapsibleContent {
    display:none;
}

.expandedBlockCollapsible .collapsibleContent {
    display:block;
}
#content-core h3 {
    margin-top:0;
    padding:0;
    font-size: 1.1em;
    font-weight: 400;
}
#content-core h3 img {
    padding-right: 10px;
}
div.table-empty-results span.ico {
    padding-right: 10px;
    font-size: 1.6em;
    vertical-align: middle;
}
div.table-empty-results {
    font-size: 1.3em;
    color: #0B486B;
    background-color: #efefef;
    padding: 10px 20px;
}

#archetypes-fieldname-Remarks textarea {
    border: 1px solid #cdcdcd;
    padding: 10px;
    margin-top: 10px;
    width: 98%;
    line-height: 160%;
    color: #333;
}
#archetypes-fieldname-Remarks label {
    font-size: 1.1em;
}

input.saveRemarks {
    font-family: 'Titillium web',Arial,Helvetica,Sans;
    background-color: #3B8686;
    color: #FFFFFF;
    font-size: 1.1em;
    padding: 3px 15px 4px;
    vertical-align: middle;
}

input.saveRemarks:hover {
    background-color: #3B8686;
    border-right: 1px solid #3B8686;
    color: #FFFFFF;
    opacity: 0.7;
    transition: background 250ms ease-in 0s;
}

#archetypes-fieldname-Remarks fieldset legend {
    font-size: 1.15em;
    margin-bottom: 10px;
    border-bottom: 1px solid #dcdcdc;
    width: 99%;
    padding-bottom: 10px;
}
#archetypes-fieldname-Remarks fieldset {
    margin: 20px 0;
    padding: 0;
}
#archetypes-fieldname-Remarks fieldset hr {
    border: 0;
    height: 0;
    padding: 5px 0 0 5px;
}
.portalMessage {
    background-color: #F4EAD5;
    padding: 10px 20px 20px;
    margin-top: 10px;
}
.portalMessage dt {
    font-size: 1.5em;
    padding-bottom: 5px;
}
.portalMessage dd {
    padding: 0;
    margin: 0;
    font-size: 1.1em;
}
.portalMessage.info dt {
    color: #0B486B;
}
.portalMessage.warning dt {
    color: #EB6841;
}
.portalMessage.error dt {
    color: #CC333F;
}
.portalMessage.info dt:before {
    content: "\f286";
    font-family: "Ionicons";
    font-size: 1.3em;
    padding-right: 8px;
    vertical-align: bottom;
}
.portalMessage.warning dt:before {
    content: "\f1a0";
    font-family: "Ionicons";
    font-size: 1.3em;
    padding-right: 8px;
    vertical-align: bottom;
}
.portalMessage.error dt:before {
    content: "\f2bb";
    font-family: "Ionicons";
    font-size: 1.3em;
    padding-right: 8px;
    vertical-align: bottom;
}
.fieldErrorBox:not(:empty):before {
    content: "\f2bb";
    font-family: Ionicons;
    padding-right: 8px;
    font-size: 1.4em;
    vertical-align: bottom;
}
.fieldErrorBox:not(:empty) {
    padding: 10px 20px 20px;
    color: #CC333F;
    background-color: #F4EAD5;
    font-size: 1.1em;
    margin: 10px 0;
}


#portal-alert {
    margin-top: 45px;
    padding: 20px 20px 30px;
    background-color: #F4EAD5;
    color: #CC333F;
    margin-bottom:-50px;
    z-index: 1990;
}
#portal-alert p {
    padding: 0 0 0 40px;
    margin: 0;
    font-size: 1.1em;
}
#portal-alert p.title {
    font-size: 1.2em;
    padding-left: 0;
    padding-bottom: 0;
}
#portal-alert p.title:before {
    font-family: "Ionicons";
    content: "\f1a0";
    font-size: 2.1em;
    color: #CC333F;
    vertical-align: middle;
    padding-right: 10px;
}

.template-manage_results .bika-listing-table td {
    vertical-align: top;
}

dt.actionMenuHeader span.state-sample_due,
dt.actionMenuHeader span.state-open,
dt.actionMenuHeader span.state-active,
dt.actionMenuHeader span.state-submitted,
dt.actionMenuHeader span.state-imported,
dt.actionMenuHeader span.state-sample_received,
dt.actionMenuHeader span.state-to_be_verified,
dt.actionMenuHeader span.state-verified,
dt.actionMenuHeader span.state-published,
dt.actionMenuHeader span.state-cancelled,
dt.actionMenuHeader span.state-inactive,
dt.actionMenuHeader span.state-closed,
dt.actionMenuHeader span.state-invalid,
dt.actionMenuHeader span.state-assigned,
dt.actionMenuHeader span.state-unassigned {
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    padding: 2px 15px;
}
dt.actionMenuHeader span.state-submitted,
dt.actionMenuHeader span.state-sample_due {
    background-color: #F38630;
}
dt.actionMenuHeader span.state-active,
dt.actionMenuHeader span.state-open {
    background-color: #E0E4CC;
}
dt.actionMenuHeader span.state-sample_received {
    background-color: #E0E4CC;
}
dt.actionMenuHeader span.state-to_be_verified {
    background-color: #A7DBD8;
}
dt.actionMenuHeader span.state-verified {
    background-color: #69D2E7;
}
dt.actionMenuHeader span.state-imported,
dt.actionMenuHeader span.state-published {
    background-color: #83AF9B;
}
dt.actionMenuHeader span.state-cancelled,
dt.actionMenuHeader span.state-inactive {
    background-color: #FF6B6B;
}
dt.actionMenuHeader span.state-closed {
    background-color: #aaaaaa;
}
dt.actionMenuHeader span.state-invalid {
    background-color: #C44D58;
}
dt.actionMenuHeader span.state-assigned {
    background-color: #dcdcdc;
}
dt.actionMenuHeader span.state-unassigned {
    background-color: #dcdcdc;
}
dd.actionMenuContent a#workflow-transition-sample,
dd.actionMenuContent a#workflow-transition-receive,
dd.actionMenuContent a#workflow-transition-republish,
dd.actionMenuContent a#workflow-transition-publish,
dd.actionMenuContent a#workflow-transition-submit,
dd.actionMenuContent a#workflow-transition-verify,
dd.actionMenuContent a#workflow-transition-deactivate,
dd.actionMenuContent a#workflow-transition-cancel,
dd.actionMenuContent a#workflow-transition-retract,
dd.actionMenuContent a#workflow-transition-retract_ar,
dd.actionMenuContent a#workflow-transition-reject,
dd.actionMenuContent a#workflow-transition-assign {
    color:#333;
}
dd.actionMenuContent a#workflow-transition-sample:before,
dd.actionMenuContent a#workflow-transition-receive:before,
dd.actionMenuContent a#workflow-transition-republish:before,
dd.actionMenuContent a#workflow-transition-publish:before,
dd.actionMenuContent a#workflow-transition-submit:before,
dd.actionMenuContent a#workflow-transition-verify:before,
dd.actionMenuContent a#workflow-transition-deactivate:before,
dd.actionMenuContent a#workflow-transition-cancel:before,
dd.actionMenuContent a#workflow-transition-retract:before,
dd.actionMenuContent a#workflow-transition-retract_ar:before,
dd.actionMenuContent a#workflow-transition-reject:before {
    content: "\f13e";
    font-family: "Ionicons";
    font-size: 1.2em;
    padding-right: 2px;
}
dd.actionMenuContent a#workflow-transition-assign:before {
    content: "\f211";
    font-family: "Ionicons";
    font-size: 1.2em;
    padding-right: 2px;
}
dd.actionMenuContent a#workflow-transition-assign:hover,
dd.actionMenuContent a#workflow-transition-assign:before {
    color:#333;
}
dd.actionMenuContent a#workflow-transition-sample:hover,
dd.actionMenuContent a#workflow-transition-sample:before {
    color:#F38630;
}
dd.actionMenuContent a#workflow-transition-receive:hover,
dd.actionMenuContent a#workflow-transition-receive:before {
    color:#E0E4CC;
}
dd.actionMenuContent a#workflow-transition-submit:hover,
dd.actionMenuContent a#workflow-transition-submit:before {
    color:#A7DBD8;
}
dd.actionMenuContent a#workflow-transition-verify:hover,
dd.actionMenuContent a#workflow-transition-verify:before{
    color: #69D2E7;
}
dd.actionMenuContent a#workflow-transition-republish:before,
dd.actionMenuContent a#workflow-transition-publish:before,
dd.actionMenuContent a#workflow-transition-republish:hover,
dd.actionMenuContent a#workflow-transition-publish:hover {
    color:#83AF9B;
}
dd.actionMenuContent a#workflow-transition-deactivate:hover,
dd.actionMenuContent a#workflow-transition-deactivate:before,
dd.actionMenuContent a#workflow-transition-cancel:hover,
dd.actionMenuContent a#workflow-transition-cancel:before,
dd.actionMenuContent a#workflow-transition-reject:hover,
dd.actionMenuContent a#workflow-transition-reject:before{
    color: #FF6B6B;
}
dd.actionMenuContent a#workflow-transition-retract_ar:hover,
dd.actionMenuContent a#workflow-transition-retract_ar:before,
dd.actionMenuContent a#workflow-transition-retract:hover,
dd.actionMenuContent a#workflow-transition-retract:before{
    color: #dcdcdc;
}
dd.actionMenuContent a#workflow-transition-advanced {
    display:none;
}

dt.attachments {
    margin-bottom: 20px;
}
dt.attachments span:hover {
    opacity:0.6;
    filter:alpha(opacity=60);
    -moz-opacity: 0.6;
    -khtml-opacity: 0.6;
    -webkit-transition: opacity 250ms ease-in-out;
    -moz-transition: opacity 250ms ease-in-out;
    -o-transition: opacity 250ms ease-in-out;
    -ms-transition: opacity 250ms ease-in-out;
    transition: opacity 250ms ease-in-out;
    color:#333;
}
dt.attachments span {
    color: #333;
}
dt.attachments img {
    display: none;
}
dt.attachments span:before {
    content: "\f1c5";
    font-family: "Ionicons";
    padding-right: 10px;
    font-size: 1.2em;
    padding-left: 3px;
}
table.manage_results_header tr td {
    padding-right: 15px;
}
table.manage_results_header {
    margin-bottom: 15px;
}
.fieldRequired:before {
    content: '*';
    color: #CC333F;
}
dl#plone-contentmenu-display.actionMenu,
dl#plone-contentmenu-actions.actionMenu,
dl#plone-contentmenu-factories.actionMenu {
    display: none;
}

/* Form/View tabs */
#content ul.formTabs, #content-core ul.formTabs {
    display: block;
    margin: 20px 0;
    padding: 0;
    padding: 5px 0px;
}
#content li.formTab, #content-core li.formTab {
    display: inline;
    margin: 0;
    padding: 5px 10px 5px 0;
}

/* Form fieldset */
div.field input[type="text"],
div.field input[type="password"],
div.field textarea {
    border: 1px solid #CDCDCD;
    padding: 3px 6px;
    margin-top: 5px;
    color: #333;
}
div.field textarea  {
    min-width: 500px;
    padding: 10px;
}
div.field label {
    padding-left: 2px;
    font-weight: bold;
}
div.field label span.formHelp {
    display: block;
    font-weight: 400;
    color: #666;
    padding: 2px 0 2px 2px;
}
div.field {
    margin: 0 0 15px;
}
div.field span.required {
    color: #FF0000;
    line-height: 8px;
    float: left;
    background-color: #FF0000;
    padding-left: 5px;
    vertical-align: middle;
    margin-top: 5px;
    margin-right: 4px;
}
div.formControls {
    margin:30px 15px 15px;
}
div.formControls input[type="submit"] {
    background-color: #3B8686;
    color: #FFFFFF;
    font-family: 'Titillium web',Arial,Helvetica,Sans;
    font-size: 1.1em;
    font-weight: 300;
    margin-right: 20px;
    padding: 3px 15px 4px;
    vertical-align: middle;
}
div.formControls input[type="submit"].standalone {
    opacity:0.6;
    filter:alpha(opacity=60);
    -moz-opacity: 0.6;
    -khtml-opacity: 0.6;
}
div.formControls input[type="submit"]:hover {
    opacity:0.4;
    filter:alpha(opacity=40);
    -moz-opacity: 0.4;
    -khtml-opacity: 0.4;
    background-color: #3B8686;
    color: #fff;
    -webkit-transition: background 250ms ease-in;
    -moz-transition: background 250ms ease-in;
    -o-transition: background 250ms ease-in;
    -ms-transition: background 250ms ease-in;
    transition: background 250ms ease-in;
}

fieldset div.field .ploneSkin .mceIframeContainer  {
    border: 1px solid #CDCDCD;
    border-bottom:none;
}

fieldset div.field .ploneSkin table.mceLayout td.mceStatusbar {
    background-color:#efefef;
    border: 1px solid #CDCDCD;
    border-top:none;
}

fieldset div.field.ArchetypesRichWidget .fieldUploadFile {
    margin:20px 0px;
}

div.worksheet_add_controls {
    margin-bottom:10px;
}
fieldset.criteria {
    margin-bottom: 15px;
}

fieldset.criteria label {
    padding-right: 10px;
}
table.manage_results_header th {
    padding-right: 10px;
}

/* edit-bar old-style?
#edit-bar ul#content-views li a:hover,
#edit-bar ul#content-views li.selected a {
    background-color: #0B486B;
    color: #fff;
    -webkit-transition: a 250ms ease-in;
    -moz-transition: background 250ms ease-in;
    -o-transition: background 250ms ease-in;
    -ms-transition: background 250ms ease-in;
    transition: background 250ms ease-in;
    border-radius:0px;
    border:none;
    text-shadow:none;
    box-shadow:none;
 }
#edit-bar ul#content-views li a {
    color: #333;
    padding: 5px 10px;
    background-color: #dfdfdf;
    font-family: 'Titillium web',Arial,Helvetica,Sans;
    padding: 5px 8px;
    border-radius:0px;
    border:none;
    text-shadow:none;
 }*/


/** Misc **/
.portaltype-document .documentDescription {
    font-size: 1.6em;
    margin-bottom: 40px;
}
.portaltype-document #content h2 {
    margin-left: 0px;
}
.portaltype-document #content h2.Subheading {
    margin-top: 30px;
}
.portaltype-document table tr td {
    padding:20px;
}

#content .pullquote {
    clear: right;
    color: #444444;
    float: right;
    font-size: 1.6em;
    letter-spacing: -0.08em !important;
    line-height: 1.25em;
    margin: 0 1em 0.5em 0.5em;
    width: 35%;
}

/** Analysis Request Add view **/
.template-ar_add #content #parent-fieldname-description {
    font-size: 1.6em;
    font-weight: 400;
    margin-bottom: 20px;
    background-color: #efefef;
    padding: 10px 10px 10px 15px;
    border-left: 5px solid #ddd;
    border-radius: 2px 0 0 2px;
    color: #0B486B;
    font-weight: 300;
}

.template-ar_add #content table.listing.analysisrequest.add {
    text-align: left;
}
.template-ar_add #content table.listing.analysisrequest.add td {
    padding-right: 15px;
    vertical-align: middle;
}
.template-ar_add #content table.listing.analysisrequest.add td img.copyButton {
    cursor: pointer;
    background-color: #efefef;
    padding: 3px;
    margin-top: 4px;
    border-radius: 10px;
}
.template-ar_add #content table.listing.analysisrequest.add td img.copyButton:hover {
    background-color:#ccc;
    -webkit-transition: background 250ms ease-in;
    -moz-transition: background 250ms ease-in;
    -o-transition: background 250ms ease-in;
    -ms-transition: background 250ms ease-in;
    transition: background 250ms ease-in;
}
.template-ar_add #content table.listing.analysisrequest.add th {
    padding: 0;
    vertical-align: middle;
}
.template-ar_add #content table.listing.analysisrequest.add th label {
    background-color: #efefef;
    display: block;
    font-weight: 400;
    margin: 4px 8px 0 0;
    padding: 3px 0 3px 10px;
    border-left: 4px solid #ddd;
}
.template-ar_add #content table.listing.analysisrequest.add th label em {
    font-size: 0.9em;
    font-weight: 300;
    font-style: normal;
}
.template-ar_add #content table.listing.analysisrequest.add td div.field {
    margin: 0;
}
.template-ar_add #content table.listing.analysisrequest.add thead.pointofcapture th {
    padding-top: 30px;
}
.template-ar_add #content table.listing.analysisrequest.add thead.pointofcapture th span {
    font-size: 1.4em;
    font-weight: 300;
    padding-left: 5px;
}

.template-ar_add #content table.listing.analysisrequest.add th.analysiscategory {
    border-bottom: 1px solid #CDCDCD;
    font-size: 1.1em;
    font-weight: 400;
    margin: 5px;
    padding: 15px 0 5px 22px;
    cursor:pointer;
}
.template-ar_add #content table.listing.analysisrequest.add tbody.analysisservices.expanded tr td.service {
    padding-left: 0;
}
.template-ar_add #content table.listing.analysisrequest.add tbody.analysisservices.expanded tr td {
    padding-left: 22px;
}
.template-ar_add #content table.listing.analysisrequest.add th.analysiscategory:hover,
.template-ar_add #content table.listing.analysisrequest.add th.analysiscategory.expanded {
    background-color:#eee;
    -webkit-transition: background 250ms ease-in;
    -moz-transition: background 250ms ease-in;
    -o-transition: background 250ms ease-in;
    -ms-transition: background 250ms ease-in;
    transition: background 250ms ease-in;
    color: #0B486B;
    font-weight: bold;
}

.template-ar_add #content input[type="submit"] {
    background-color: #3B8686;
    color: #FFFFFF;
    font-family: 'Titillium web',Arial,Helvetica,Sans;
    font-size: 1.1em;
    font-weight: 300;
    margin-right: 20px;
    padding: 3px 15px 4px;
    vertical-align: middle;
    margin-top: 20px;
    margin-bottom: 10px;
}
.template-ar_add #content input[type="submit"]:hover {
    opacity:0.4;
    filter:alpha(opacity=40);
    -moz-opacity: 0.4;
    -khtml-opacity: 0.4;
    background-color: #3B8686;
    color: #fff;
    -webkit-transition: background 250ms ease-in;
    -moz-transition: background 250ms ease-in;
    -o-transition: background 250ms ease-in;
    -ms-transition: background 250ms ease-in;
    transition: background 250ms ease-in;
}
.template-ar_add #content table.listing.analysisrequest.add th.topborder {
    padding: 10px 0 5px 20px;
}
.template-ar_add #content table.listing.analysisrequest.add .topborder {
    font-weight: normal;
    background-color: #efefef;
    padding: 5px;
}
.template-ar_add #content table.listing.analysisrequest.add th.topborder {
    padding: 10px 0 5px 20px;
}

/** Import view **/
.template-import #content h3 {
    font-size: 1.4em;
    margin: 20px 0 20px 0;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}
.template-import #content input[type="submit"] {
    background-color: #3B8686;
    color: #FFFFFF;
    font-family: 'Titillium web',Arial,Helvetica,Sans;
    font-size: 1.1em;
    font-weight: 300;
    margin-right: 20px;
    padding: 3px 15px 4px;
    vertical-align: middle;
    margin-top: 20px;
    margin-bottom: 10px;
}
.template-import #content input[type="submit"]:hover {
    opacity:0.4;
    filter:alpha(opacity=40);
    -moz-opacity: 0.4;
    -khtml-opacity: 0.4;
    background-color: #3B8686;
    color: #fff;
    -webkit-transition: background 250ms ease-in;
    -moz-transition: background 250ms ease-in;
    -o-transition: background 250ms ease-in;
    -ms-transition: background 250ms ease-in;
    transition: background 250ms ease-in;
}

.template-import .errorbox,
.template-import .warnbox,
.template-import .logbox {
    padding-top: 15px;
}
.template-import .errorbox ul,
.template-import .warnbox ul,
.template-import .logbox ul {
    font-family: "Monospace";
    list-style-type: square;
    padding-left: 20px;
    line-height: 160%;
}

.template-import .errorbox {
    color: #CC333F;
}
.template-import .warnbox {
    color: #EB6841;
}
.template-import table tr td {
    padding: 3px 0 3px 0;
    min-width: 150px;
}

/* Portal alert */
#portal-alert input, #portal-alert a.button {
    background-color: #CC333F;
    color: #FFFFFF;
    font-family: 'Open Sans';
    margin: 5px 5px;
    padding: 3px 10px;
    text-shadow: none;
    text-transform: uppercase;
    border:none;
}
#portal-alert a.button {
    padding: 3px 10px 4px;
}

/* Setup Data Import view */
.template-import #fieldset-setupdata h2 {
    margin-left:0px;
    margin-top:20px;
    margin-bottom:20px;
}
.template-import #content #fieldset-setupdata input[type="submit"] {
    margin-top:0px;
    margin-left:15px;
}

/* Plone's built-in ajax-overlay */
.overlay.overlay-ajax {
    display:none;
    visibility:hidden;
}
.overlay.overlay-ajax.overlay-login {
    visibility:visible;
    display:block;
}

/* Graphite Theme Status */
#portal-theme {
    color: #FFFFFF;
    float: right;
    padding: 7px 20px;
}
#portal-theme a {
    color:#fff;
}
#portal-theme #graphite-theme-status {
    background-color: #777777;
    border-radius: 5px 5px 5px 5px;
    margin-left: 6px;
}
#portal-theme #graphite-theme-status span {
    padding:0 6px;
}
#portal-theme #graphite-theme-status span.on {
    background-color: #008000;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    font-size: 1em;
    font-weight: bold;
    text-shadow: 1px 0 10px #FFFFFF;
}
#portal-theme #graphite-theme-status span.off {
    color: #CCCCCC;
    padding-left: 2px;
}


/* Header table (i.e. AR Details view) */
.header_table {
    width: 100%;
    margin-bottom:20px;
}
.header_table tr td.value {
    padding: 0 10px;
}
.header_table tr td.key {
    font-weight: bold;
    margin-right: 20px;
    background-color: #DCDCDC;
    padding: 7px 10px;
}
#header_form input[type='submit'] {
    background-color: #3B8686;
    color: #FFFFFF;
    font-family: 'Titillium web',Arial,Helvetica,Sans;
    font-size: 1.1em;
    padding: 3px 15px 4px;
    vertical-align: middle;
}

/* Overview Panel */
.template-overview-controlpanel #content h2 {
    margin-left:0;
    margin-top:30px;
}
.template-overview-controlpanel #content ul li a img {
    padding-right: 5px;
}
.template-overview-controlpanel #content ul li {
    list-style-type: none;
    padding: 5px 0;
}
.visualClear {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}